body {
  font-family: Helvetica;
  color: gray;
  padding-top: 15%;
  padding-left: 12%;
  padding-right: 12%;
}

.back-link {
  position: absolute;
  top: 20px;
  left: 20px;
  color: LightSteelBlue;
  text-decoration: none;
}

.back-link:hover {
  color: SteelBlue;
}

.description {
  color: #999999;
  font-style: italic;
  text-indent: 10px;
}

.article-title {
  font-family: Helvetica, Times, 'Times New Roman', serif;
  font-size: 28px;
  color: black;
  text-decoration: none;
}

.code-link {
  text-decoration: none;
  color: LightGray;
  font-size: small;
  text-align: right;
  display: inline-block;
  font-family: monospace;
  position: absolute;
  right: 100px;
  bottom: 120px;
  display: inline-block;
}

.code-link:hover {
    color: gray;
}


.add {
  color: SteelBlue;
}

.del {
  color: MistyRose;
}

#texts {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 300px;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 45%;
  height: 45%;
}

#result {
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 45%;
  height: 45%;
}

.result-info {
  color: black;
}


#btn {
    background-color: white;
    color: LightSteelBlue;
    font-size: 20px;
    text-decoration: none;
    cursor: poiner;
     border:none;
}

#btn:hover {
  border: none;
  color: SteelBlue;
}

#btn:focus {
  outline: none;
  color: LightSteelBlue;
}

#original, #revised {
  border: 1px solid LightGray;
  resize: none;
}

#original:focus, #revised:focus {
    border: 1px solid gray;
    outline: none;
  }